DSD-ServiceProject/WCFServicesTest/Connected Services/ClientesWS/ClienteService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58947/ClienteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceCliente.Dominio" />
  <xs:element name="CrearCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServiceCliente.Dominio" minOccurs="0" name="businessPartner" nillable="true" type="q1:BusinessPartner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServiceCliente.Dominio" minOccurs="0" name="CrearClienteResult" nillable="true" type="q2:BusinessPartner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFServiceCliente.Dominio" minOccurs="0" name="ObtenerClienteResult" nillable="true" type="q3:BusinessPartner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFServiceCliente.Dominio" minOccurs="0" name="businessPartner" nillable="true" type="q4:BusinessPartner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFServiceCliente.Dominio" minOccurs="0" name="ModificarClienteResult" nillable="true" type="q5:BusinessPartner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarClientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFServiceCliente.Dominio" minOccurs="0" name="ListarClientesResult" nillable="true" type="q6:ArrayOfBusinessPartner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>