DSD-ServiceProject/WCFServicesTest/Connected Services/ClientesWS/ClienteService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceCliente.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceCliente.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BusinessPartner">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoMat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPat" nillable="true" type="xs:string" />
      <xs:element name="CardCode" nillable="true" type="xs:string" />
      <xs:element name="CardName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cellular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContctPrsn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicTradNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoPer" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessPartner" nillable="true" type="tns:BusinessPartner" />
  <xs:complexType name="ArrayOfBusinessPartner">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusinessPartner" nillable="true" type="tns:BusinessPartner" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusinessPartner" nillable="true" type="tns:ArrayOfBusinessPartner" />
</xs:schema>