DSD-ServiceProject/WCFServicesTest/Connected Services/ClientesWS/ClienteService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClienteService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58947/ClienteService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58947/ClienteService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFServiceCliente.Errores" />
      <xsd:import schemaLocation="http://localhost:58947/ClienteService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58947/ClienteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceCliente.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClienteService_CrearCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteService_CrearCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_CrearCliente_RepetidoExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServiceCliente.Errores" name="detail" element="q1:RepetidoException" />
  </wsdl:message>
  <wsdl:message name="IClienteService_CrearCliente_ClienteExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServiceCliente.Errores" name="detail" element="q2:ClienteException" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ObtenerCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ObtenerCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ModificarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ModificarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ModificarCliente_InexistenteExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/WCFServiceCliente.Errores" name="detail" element="q3:InexistenteException" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ModificarCliente_ClienteExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/WCFServiceCliente.Errores" name="detail" element="q4:ClienteException" />
  </wsdl:message>
  <wsdl:message name="IClienteService_EliminarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCliente" />
  </wsdl:message>
  <wsdl:message name="IClienteService_EliminarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteService_EliminarCliente_InexistenteExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/WCFServiceCliente.Errores" name="detail" element="q5:InexistenteException" />
  </wsdl:message>
  <wsdl:message name="IClienteService_EliminarCliente_ClienteExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/WCFServiceCliente.Errores" name="detail" element="q6:ClienteException" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ListarClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarClientes" />
  </wsdl:message>
  <wsdl:message name="IClienteService_ListarClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarClientesResponse" />
  </wsdl:message>
  <wsdl:portType name="IClienteService">
    <wsdl:operation name="CrearCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/CrearCliente" message="tns:IClienteService_CrearCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/CrearClienteResponse" message="tns:IClienteService_CrearCliente_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IClienteService/CrearClienteRepetidoExceptionFault" name="RepetidoExceptionFault" message="tns:IClienteService_CrearCliente_RepetidoExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IClienteService/CrearClienteClienteExceptionFault" name="ClienteExceptionFault" message="tns:IClienteService_CrearCliente_ClienteExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/ObtenerCliente" message="tns:IClienteService_ObtenerCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/ObtenerClienteResponse" message="tns:IClienteService_ObtenerCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/ModificarCliente" message="tns:IClienteService_ModificarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/ModificarClienteResponse" message="tns:IClienteService_ModificarCliente_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IClienteService/ModificarClienteInexistenteExceptionFault" name="InexistenteExceptionFault" message="tns:IClienteService_ModificarCliente_InexistenteExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IClienteService/ModificarClienteClienteExceptionFault" name="ClienteExceptionFault" message="tns:IClienteService_ModificarCliente_ClienteExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/EliminarCliente" message="tns:IClienteService_EliminarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/EliminarClienteResponse" message="tns:IClienteService_EliminarCliente_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IClienteService/EliminarClienteInexistenteExceptionFault" name="InexistenteExceptionFault" message="tns:IClienteService_EliminarCliente_InexistenteExceptionFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IClienteService/EliminarClienteClienteExceptionFault" name="ClienteExceptionFault" message="tns:IClienteService_EliminarCliente_ClienteExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteService/ListarClientes" message="tns:IClienteService_ListarClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteService/ListarClientesResponse" message="tns:IClienteService_ListarClientes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClienteService" type="tns:IClienteService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteService/CrearCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepetidoExceptionFault">
        <soap:fault use="literal" name="RepetidoExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ClienteExceptionFault">
        <soap:fault use="literal" name="ClienteExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ObtenerCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteService/ObtenerCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteService/ModificarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InexistenteExceptionFault">
        <soap:fault use="literal" name="InexistenteExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ClienteExceptionFault">
        <soap:fault use="literal" name="ClienteExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EliminarCliente">
      <soap:operation soapAction="http://tempuri.org/IClienteService/EliminarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InexistenteExceptionFault">
        <soap:fault use="literal" name="InexistenteExceptionFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ClienteExceptionFault">
        <soap:fault use="literal" name="ClienteExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListarClientes">
      <soap:operation soapAction="http://tempuri.org/IClienteService/ListarClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClienteService">
    <wsdl:port name="BasicHttpBinding_IClienteService" binding="tns:BasicHttpBinding_IClienteService">
      <soap:address location="http://localhost:58947/ClienteService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>