DSD-AppProject/TomaPedidos_Desktop/Service References/OfertaVentaWS/OfertaVentaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OfertaVentaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65390/OfertaVentaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65390/OfertaVentaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65390/OfertaVentaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceCliente.Dominio" />
      <xsd:import schemaLocation="http://localhost:65390/OfertaVentaService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFServiceOfertaVenta.Errores" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOfertaVentaService_BusquedaClienteList_InputMessage">
    <wsdl:part name="parameters" element="tns:BusquedaClienteList" />
  </wsdl:message>
  <wsdl:message name="IOfertaVentaService_BusquedaClienteList_OutputMessage">
    <wsdl:part name="parameters" element="tns:BusquedaClienteListResponse" />
  </wsdl:message>
  <wsdl:message name="IOfertaVentaService_RegistrarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarCliente" />
  </wsdl:message>
  <wsdl:message name="IOfertaVentaService_RegistrarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IOfertaVentaService_RegistrarCliente_EntityExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServiceOfertaVenta.Errores" name="detail" element="q1:EntityException" />
  </wsdl:message>
  <wsdl:portType name="IOfertaVentaService">
    <wsdl:operation name="BusquedaClienteList">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfertaVentaService/BusquedaClienteList" message="tns:IOfertaVentaService_BusquedaClienteList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfertaVentaService/BusquedaClienteListResponse" message="tns:IOfertaVentaService_BusquedaClienteList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IOfertaVentaService/RegistrarCliente" message="tns:IOfertaVentaService_RegistrarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOfertaVentaService/RegistrarClienteResponse" message="tns:IOfertaVentaService_RegistrarCliente_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IOfertaVentaService/RegistrarClienteEntityExceptionFault" name="EntityExceptionFault" message="tns:IOfertaVentaService_RegistrarCliente_EntityExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOfertaVentaService" type="tns:IOfertaVentaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BusquedaClienteList">
      <soap:operation soapAction="http://tempuri.org/IOfertaVentaService/BusquedaClienteList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarCliente">
      <soap:operation soapAction="http://tempuri.org/IOfertaVentaService/RegistrarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="EntityExceptionFault">
        <soap:fault use="literal" name="EntityExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OfertaVentaService">
    <wsdl:port name="BasicHttpBinding_IOfertaVentaService" binding="tns:BasicHttpBinding_IOfertaVentaService">
      <soap:address location="http://localhost:65390/OfertaVentaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>