DSD-AppProject/SalesOpportunityManagement/Connected Services/OfertaVentaWS/OfertaVentaService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65390/OfertaVentaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServiceOfertaVenta.Dominio" />
  <xs:element name="BusquedaClienteList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cardcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cardname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="docnum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telephone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusquedaClienteListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServiceOfertaVenta.Dominio" minOccurs="0" name="BusquedaClienteListResult" nillable="true" type="q1:ArrayOfBusinessPartner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServiceOfertaVenta.Dominio" minOccurs="0" name="businessPartner" nillable="true" type="q2:BusinessPartner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarClienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFServiceOfertaVenta.Dominio" minOccurs="0" name="businessPartner" nillable="true" type="q3:BusinessPartner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarClienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CardCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarClienteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusquedaActividadList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nActividad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codOport" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codCliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombCliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusquedaActividadListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFServiceOfertaVenta.Dominio" minOccurs="0" name="BusquedaActividadListResult" nillable="true" type="q4:ArrayOfActividad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarActividad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFServiceOfertaVenta.Dominio" minOccurs="0" name="actividad" nillable="true" type="q5:Actividad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarActividadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarActividadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarActividad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFServiceOfertaVenta.Dominio" minOccurs="0" name="actividad" nillable="true" type="q6:Actividad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarActividadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarActividadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarActividad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nActividad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cOportunidad" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cCliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarActividadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarActividadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusquedaOportunidadList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codcliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombcliente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="personacontact" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BusquedaOportunidadListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFServiceOfertaVenta.Dominio" minOccurs="0" name="BusquedaOportunidadListResult" nillable="true" type="q7:ArrayOfOportunidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarOportunidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFServiceOfertaVenta.Dominio" minOccurs="0" name="oportunidad" nillable="true" type="q8:Oportunidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarOportunidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarOportunidadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarOportunidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFServiceOfertaVenta.Dominio" minOccurs="0" name="oportunidad" nillable="true" type="q9:Oportunidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarOportunidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarOportunidadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarOportunidad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarOportunidadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarOportunidadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCorreoElectronico">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCFServiceOfertaVenta.Dominio" minOccurs="0" name="email" nillable="true" type="q10:Email" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarCorreoElectronicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnviarCorreoElectronicoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarMensajeTexto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCFServiceOfertaVenta.Dominio" minOccurs="0" name="sms" nillable="true" type="q11:SMS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnviarMensajeTextoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnviarMensajeTextoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>