DSD-AppProject/SalesOpportunityManagement/Connected Services/OfertaVentaWS/OfertaVentaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceOfertaVenta.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceOfertaVenta.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBusinessPartner">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusinessPartner" nillable="true" type="tns:BusinessPartner" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBusinessPartner" nillable="true" type="tns:ArrayOfBusinessPartner" />
  <xs:complexType name="BusinessPartner">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoMat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPat" nillable="true" type="xs:string" />
      <xs:element name="CardCode" nillable="true" type="xs:string" />
      <xs:element name="CardName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cellular" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContctPrsn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LicTradNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoPer" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BusinessPartner" nillable="true" type="tns:BusinessPartner" />
  <xs:complexType name="ArrayOfActividad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Actividad" nillable="true" type="tns:Actividad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActividad" nillable="true" type="tns:ArrayOfActividad" />
  <xs:complexType name="Actividad">
    <xs:sequence>
      <xs:element minOccurs="0" name="cCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cNivelPrioridad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cOportunidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cTipoActividad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cTipoRepeticion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dComentarios" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dPersonaContacto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dRazonSocial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fFin" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fInicio" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fModificacion" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fRegistro" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nActividad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nTelefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sEstado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Actividad" nillable="true" type="tns:Actividad" />
  <xs:complexType name="ArrayOfOportunidad">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Oportunidad" nillable="true" type="tns:Oportunidad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOportunidad" nillable="true" type="tns:ArrayOfOportunidad" />
  <xs:complexType name="Oportunidad">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anotaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modelo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroMotor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroPlaca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroSerie" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroVIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PersonaContact" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlacaVigente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefCliente" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Oportunidad" nillable="true" type="tns:Oportunidad" />
  <xs:complexType name="Email">
    <xs:sequence>
      <xs:element minOccurs="0" name="Base64Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContentType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Filename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HTMLPart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageHref" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageUUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameFrom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameTo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiveConfirmation" type="xs:boolean" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TextPart" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Email" nillable="true" type="tns:Email" />
  <xs:complexType name="SMS">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SMS" nillable="true" type="tns:SMS" />
</xs:schema>