DSD-AppProject/TomaPedidos_Desktop/Web References/ServicioTomaPedidos/ServicioTomaPedidos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/ServicioTomaPedidos" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/ServicioTomaPedidos" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio Web Toma-pedidos</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/ServicioTomaPedidos">
      <s:element name="TryConnection">
        <s:complexType />
      </s:element>
      <s:element name="TryConnectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TryConnectionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TryConnectionSBO">
        <s:complexType />
      </s:element>
      <s:element name="TryConnectionSBOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TryConnectionSBOResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLogIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usercode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userpassw" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="interfaz" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLogInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateLogInResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerVersionYServidor">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerVersionYServidorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerVersionYServidorResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerTipoCambio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerTipoCambioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerTipoCambioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerNumeroCotizacion">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerNumeroCotizacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerNumeroCotizacionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerNumeroOrden">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerNumeroOrdenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerNumeroOrdenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerListaPrecios">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerListaPreciosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerListaPreciosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerValoresSpinnerjson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IDcombo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerValoresSpinnerjsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerValoresSpinnerjsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerValoresComboBoxDtable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IDcombo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerValoresComboBoxDtableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerValoresComboBoxDtableResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CrearTablasYCampos">
        <s:complexType />
      </s:element>
      <s:element name="CrearTablasYCamposResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CrearTablasYCamposResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoverTablasYCampos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idtabla" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idcampo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoverTablasYCamposResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemoverTablasYCamposResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarOportunidadDeVenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarOportunidadDeVentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GuardarOportunidadDeVentaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarOportunidadDeVenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idOppor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="action" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codEmpleado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="interfaz" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModificarOportunidadDeVentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ModificarOportunidadDeVentaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarOrdenDeVenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonOrder" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarOrdenDeVentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistrarOrdenDeVentaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarSocioDeNegocio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarSocioDeNegocioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistrarSocioDeNegocioResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarSocioDeNegociojson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OpcTipoPersona" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OpcTipoDoc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RazonSocial" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PersonaCont" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Nombres" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ApePat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ApeMat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NroDoc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Celular" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tefl1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tefl2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Comentarios" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmployeeIdSAP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InterfazReg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrarSocioDeNegociojsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RegistrarSocioDeNegociojsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarActividad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarActividadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GuardarActividadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaClienteList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cardcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="docnum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telephone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaClienteListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BusquedaClienteListResult" type="tns:ArrayOfBusinessPartner" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBusinessPartner">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BusinessPartner" nillable="true" type="tns:BusinessPartner" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BusinessPartner">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ContctPrsn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoPer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoDoc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoMat" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoPat" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombres" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardForeignName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notes" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cellular" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telephone2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telephone1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LicTradNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeeIdSAP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InterfazReg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="BusquedaClienteListjson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cardcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="docnum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telephone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaClienteListjsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BusquedaClienteListjsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaClientejson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cardcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="docnum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telephone" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaClientejsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BusquedaClientejsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaArticulosList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="itemcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="itemname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="priceListValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaArticulosListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BusquedaArticulosListResult" type="tns:ArrayOfItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Item">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ItemQty" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Itemprice" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Itemdescrip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Itemcode" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="BusquedaArticuloListjson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="itemcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="itemname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="priceListValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaArticuloListjsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BusquedaArticuloListjsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaArticulosListOrderjson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="priceListValue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaArticulosListOrderjsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BusquedaArticulosListOrderjsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaActividadesList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cardcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numOpportunity" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaActividadesListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BusquedaActividadesListResult" type="tns:ArrayOfActivities" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfActivities">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Activities" nillable="true" type="tns:Activities" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Activities">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Cerrado" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="SalesOpportunityId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumActividad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HandledByEmployee" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Notas" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodDocAsocOffer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Repeticion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Prioridad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Telefono" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Detalle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HoraFin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="HoraIni" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DiaFin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DiaIni" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Asunto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Actividad" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="BusquedaActividadesListjson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cardcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numOpportunity" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="flagSoloPendientes" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaActividadesListjsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BusquedaActividadesListjsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerNroDeActividadesRelacionadasjson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cardcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numOpportunity" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerNroDeActividadesRelacionadasjsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerNroDeActividadesRelacionadasjsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerActividad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numActividad" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerActividadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerActividadResult" type="tns:Activities" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerActividadjson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numActividad" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerActividadjsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerActividadjsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaOportunidadesList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="docNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codEmpleado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaOportunidadesListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BusquedaOportunidadesListResult" type="tns:ArrayOfOpportunity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfOpportunity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Opportunity" nillable="true" type="tns:Opportunity" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Opportunity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="InterfazReg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SalesPersonCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DocEntryOffer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Owner" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OpenDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OpprId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OfertaVenta" type="tns:Offer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Offer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DocEntry" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="DocTotal" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="OfferDetails" type="tns:ArrayOfOrderDetail" />
          <s:element minOccurs="0" maxOccurs="1" name="Placa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Clase" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Marca" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Modelo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Carroceria" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AnoFabricacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumCilMotor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cilindrada" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GasUtilizada" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Recorrido" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoCombustible" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CapTanque" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UbiTanque" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TomaCarga" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MarcaEquipoConv" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Generacion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UsoVehiculo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoComprobante" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="flagInspeccionTecnica" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="flagEsPropietario" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="flagConVehiculo" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="CondicionVenta" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ComoSeEntero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="subComoSeEntero" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Observaciones" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardDoc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardPhone" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOrderDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OrderDetail" nillable="true" type="tns:OrderDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OrderDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ItemCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ItemName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ItemPrice" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ItemQty" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalLine" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="ofertaItemLine" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="BusquedaOportunidadesListjson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="docNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codEmpleado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaOportunidadesListjsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BusquedaOportunidadesListjsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerOportunidad">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="opprId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerOportunidadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerOportunidadResult" type="tns:Opportunity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerOportunidadjson">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="opprId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ObtenerOportunidadjsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerOportunidadjsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaArticulosSelectorListSAP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="json" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="concatenado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaArticulosSelectorListSAPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BusquedaArticulosSelectorListSAPResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TryConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:TryConnection" />
  </wsdl:message>
  <wsdl:message name="TryConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:TryConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="TryConnectionSBOSoapIn">
    <wsdl:part name="parameters" element="tns:TryConnectionSBO" />
  </wsdl:message>
  <wsdl:message name="TryConnectionSBOSoapOut">
    <wsdl:part name="parameters" element="tns:TryConnectionSBOResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateLogInSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateLogIn" />
  </wsdl:message>
  <wsdl:message name="ValidateLogInSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateLogInResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerVersionYServidorSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerVersionYServidor" />
  </wsdl:message>
  <wsdl:message name="ObtenerVersionYServidorSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerVersionYServidorResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerTipoCambioSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerTipoCambio" />
  </wsdl:message>
  <wsdl:message name="ObtenerTipoCambioSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerTipoCambioResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerNumeroCotizacionSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerNumeroCotizacion" />
  </wsdl:message>
  <wsdl:message name="ObtenerNumeroCotizacionSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerNumeroCotizacionResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerNumeroOrdenSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerNumeroOrden" />
  </wsdl:message>
  <wsdl:message name="ObtenerNumeroOrdenSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerNumeroOrdenResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerListaPreciosSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerListaPrecios" />
  </wsdl:message>
  <wsdl:message name="ObtenerListaPreciosSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerListaPreciosResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerValoresSpinnerjsonSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerValoresSpinnerjson" />
  </wsdl:message>
  <wsdl:message name="ObtenerValoresSpinnerjsonSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerValoresSpinnerjsonResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerValoresComboBoxDtableSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerValoresComboBoxDtable" />
  </wsdl:message>
  <wsdl:message name="ObtenerValoresComboBoxDtableSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerValoresComboBoxDtableResponse" />
  </wsdl:message>
  <wsdl:message name="CrearTablasYCamposSoapIn">
    <wsdl:part name="parameters" element="tns:CrearTablasYCampos" />
  </wsdl:message>
  <wsdl:message name="CrearTablasYCamposSoapOut">
    <wsdl:part name="parameters" element="tns:CrearTablasYCamposResponse" />
  </wsdl:message>
  <wsdl:message name="RemoverTablasYCamposSoapIn">
    <wsdl:part name="parameters" element="tns:RemoverTablasYCampos" />
  </wsdl:message>
  <wsdl:message name="RemoverTablasYCamposSoapOut">
    <wsdl:part name="parameters" element="tns:RemoverTablasYCamposResponse" />
  </wsdl:message>
  <wsdl:message name="GuardarOportunidadDeVentaSoapIn">
    <wsdl:part name="parameters" element="tns:GuardarOportunidadDeVenta" />
  </wsdl:message>
  <wsdl:message name="GuardarOportunidadDeVentaSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarOportunidadDeVentaResponse" />
  </wsdl:message>
  <wsdl:message name="ModificarOportunidadDeVentaSoapIn">
    <wsdl:part name="parameters" element="tns:ModificarOportunidadDeVenta" />
  </wsdl:message>
  <wsdl:message name="ModificarOportunidadDeVentaSoapOut">
    <wsdl:part name="parameters" element="tns:ModificarOportunidadDeVentaResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrarOrdenDeVentaSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarOrdenDeVenta" />
  </wsdl:message>
  <wsdl:message name="RegistrarOrdenDeVentaSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarOrdenDeVentaResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrarSocioDeNegocioSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarSocioDeNegocio" />
  </wsdl:message>
  <wsdl:message name="RegistrarSocioDeNegocioSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarSocioDeNegocioResponse" />
  </wsdl:message>
  <wsdl:message name="RegistrarSocioDeNegociojsonSoapIn">
    <wsdl:part name="parameters" element="tns:RegistrarSocioDeNegociojson" />
  </wsdl:message>
  <wsdl:message name="RegistrarSocioDeNegociojsonSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrarSocioDeNegociojsonResponse" />
  </wsdl:message>
  <wsdl:message name="GuardarActividadSoapIn">
    <wsdl:part name="parameters" element="tns:GuardarActividad" />
  </wsdl:message>
  <wsdl:message name="GuardarActividadSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarActividadResponse" />
  </wsdl:message>
  <wsdl:message name="BusquedaClienteListSoapIn">
    <wsdl:part name="parameters" element="tns:BusquedaClienteList" />
  </wsdl:message>
  <wsdl:message name="BusquedaClienteListSoapOut">
    <wsdl:part name="parameters" element="tns:BusquedaClienteListResponse" />
  </wsdl:message>
  <wsdl:message name="BusquedaClienteListjsonSoapIn">
    <wsdl:part name="parameters" element="tns:BusquedaClienteListjson" />
  </wsdl:message>
  <wsdl:message name="BusquedaClienteListjsonSoapOut">
    <wsdl:part name="parameters" element="tns:BusquedaClienteListjsonResponse" />
  </wsdl:message>
  <wsdl:message name="BusquedaClientejsonSoapIn">
    <wsdl:part name="parameters" element="tns:BusquedaClientejson" />
  </wsdl:message>
  <wsdl:message name="BusquedaClientejsonSoapOut">
    <wsdl:part name="parameters" element="tns:BusquedaClientejsonResponse" />
  </wsdl:message>
  <wsdl:message name="BusquedaArticulosListSoapIn">
    <wsdl:part name="parameters" element="tns:BusquedaArticulosList" />
  </wsdl:message>
  <wsdl:message name="BusquedaArticulosListSoapOut">
    <wsdl:part name="parameters" element="tns:BusquedaArticulosListResponse" />
  </wsdl:message>
  <wsdl:message name="BusquedaArticuloListjsonSoapIn">
    <wsdl:part name="parameters" element="tns:BusquedaArticuloListjson" />
  </wsdl:message>
  <wsdl:message name="BusquedaArticuloListjsonSoapOut">
    <wsdl:part name="parameters" element="tns:BusquedaArticuloListjsonResponse" />
  </wsdl:message>
  <wsdl:message name="BusquedaArticulosListOrderjsonSoapIn">
    <wsdl:part name="parameters" element="tns:BusquedaArticulosListOrderjson" />
  </wsdl:message>
  <wsdl:message name="BusquedaArticulosListOrderjsonSoapOut">
    <wsdl:part name="parameters" element="tns:BusquedaArticulosListOrderjsonResponse" />
  </wsdl:message>
  <wsdl:message name="BusquedaActividadesListSoapIn">
    <wsdl:part name="parameters" element="tns:BusquedaActividadesList" />
  </wsdl:message>
  <wsdl:message name="BusquedaActividadesListSoapOut">
    <wsdl:part name="parameters" element="tns:BusquedaActividadesListResponse" />
  </wsdl:message>
  <wsdl:message name="BusquedaActividadesListjsonSoapIn">
    <wsdl:part name="parameters" element="tns:BusquedaActividadesListjson" />
  </wsdl:message>
  <wsdl:message name="BusquedaActividadesListjsonSoapOut">
    <wsdl:part name="parameters" element="tns:BusquedaActividadesListjsonResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerNroDeActividadesRelacionadasjsonSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerNroDeActividadesRelacionadasjson" />
  </wsdl:message>
  <wsdl:message name="ObtenerNroDeActividadesRelacionadasjsonSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerNroDeActividadesRelacionadasjsonResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerActividadSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerActividad" />
  </wsdl:message>
  <wsdl:message name="ObtenerActividadSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerActividadResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerActividadjsonSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerActividadjson" />
  </wsdl:message>
  <wsdl:message name="ObtenerActividadjsonSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerActividadjsonResponse" />
  </wsdl:message>
  <wsdl:message name="BusquedaOportunidadesListSoapIn">
    <wsdl:part name="parameters" element="tns:BusquedaOportunidadesList" />
  </wsdl:message>
  <wsdl:message name="BusquedaOportunidadesListSoapOut">
    <wsdl:part name="parameters" element="tns:BusquedaOportunidadesListResponse" />
  </wsdl:message>
  <wsdl:message name="BusquedaOportunidadesListjsonSoapIn">
    <wsdl:part name="parameters" element="tns:BusquedaOportunidadesListjson" />
  </wsdl:message>
  <wsdl:message name="BusquedaOportunidadesListjsonSoapOut">
    <wsdl:part name="parameters" element="tns:BusquedaOportunidadesListjsonResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerOportunidadSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerOportunidad" />
  </wsdl:message>
  <wsdl:message name="ObtenerOportunidadSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerOportunidadResponse" />
  </wsdl:message>
  <wsdl:message name="ObtenerOportunidadjsonSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerOportunidadjson" />
  </wsdl:message>
  <wsdl:message name="ObtenerOportunidadjsonSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerOportunidadjsonResponse" />
  </wsdl:message>
  <wsdl:message name="BusquedaArticulosSelectorListSAPSoapIn">
    <wsdl:part name="parameters" element="tns:BusquedaArticulosSelectorListSAP" />
  </wsdl:message>
  <wsdl:message name="BusquedaArticulosSelectorListSAPSoapOut">
    <wsdl:part name="parameters" element="tns:BusquedaArticulosSelectorListSAPResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioTomaPedidosSoap">
    <wsdl:operation name="TryConnection">
      <wsdl:input message="tns:TryConnectionSoapIn" />
      <wsdl:output message="tns:TryConnectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TryConnectionSBO">
      <wsdl:input message="tns:TryConnectionSBOSoapIn" />
      <wsdl:output message="tns:TryConnectionSBOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateLogIn">
      <wsdl:input message="tns:ValidateLogInSoapIn" />
      <wsdl:output message="tns:ValidateLogInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerVersionYServidor">
      <wsdl:input message="tns:ObtenerVersionYServidorSoapIn" />
      <wsdl:output message="tns:ObtenerVersionYServidorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTipoCambio">
      <wsdl:input message="tns:ObtenerTipoCambioSoapIn" />
      <wsdl:output message="tns:ObtenerTipoCambioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerNumeroCotizacion">
      <wsdl:input message="tns:ObtenerNumeroCotizacionSoapIn" />
      <wsdl:output message="tns:ObtenerNumeroCotizacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerNumeroOrden">
      <wsdl:input message="tns:ObtenerNumeroOrdenSoapIn" />
      <wsdl:output message="tns:ObtenerNumeroOrdenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaPrecios">
      <wsdl:input message="tns:ObtenerListaPreciosSoapIn" />
      <wsdl:output message="tns:ObtenerListaPreciosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerValoresSpinnerjson">
      <wsdl:input message="tns:ObtenerValoresSpinnerjsonSoapIn" />
      <wsdl:output message="tns:ObtenerValoresSpinnerjsonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerValoresComboBoxDtable">
      <wsdl:input message="tns:ObtenerValoresComboBoxDtableSoapIn" />
      <wsdl:output message="tns:ObtenerValoresComboBoxDtableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CrearTablasYCampos">
      <wsdl:input message="tns:CrearTablasYCamposSoapIn" />
      <wsdl:output message="tns:CrearTablasYCamposSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoverTablasYCampos">
      <wsdl:input message="tns:RemoverTablasYCamposSoapIn" />
      <wsdl:output message="tns:RemoverTablasYCamposSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardarOportunidadDeVenta">
      <wsdl:input message="tns:GuardarOportunidadDeVentaSoapIn" />
      <wsdl:output message="tns:GuardarOportunidadDeVentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModificarOportunidadDeVenta">
      <wsdl:input message="tns:ModificarOportunidadDeVentaSoapIn" />
      <wsdl:output message="tns:ModificarOportunidadDeVentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarOrdenDeVenta">
      <wsdl:input message="tns:RegistrarOrdenDeVentaSoapIn" />
      <wsdl:output message="tns:RegistrarOrdenDeVentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarSocioDeNegocio">
      <wsdl:input message="tns:RegistrarSocioDeNegocioSoapIn" />
      <wsdl:output message="tns:RegistrarSocioDeNegocioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RegistrarSocioDeNegociojson">
      <wsdl:input message="tns:RegistrarSocioDeNegociojsonSoapIn" />
      <wsdl:output message="tns:RegistrarSocioDeNegociojsonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardarActividad">
      <wsdl:input message="tns:GuardarActividadSoapIn" />
      <wsdl:output message="tns:GuardarActividadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BusquedaClienteList">
      <wsdl:input message="tns:BusquedaClienteListSoapIn" />
      <wsdl:output message="tns:BusquedaClienteListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BusquedaClienteListjson">
      <wsdl:input message="tns:BusquedaClienteListjsonSoapIn" />
      <wsdl:output message="tns:BusquedaClienteListjsonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BusquedaClientejson">
      <wsdl:input message="tns:BusquedaClientejsonSoapIn" />
      <wsdl:output message="tns:BusquedaClientejsonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BusquedaArticulosList">
      <wsdl:input message="tns:BusquedaArticulosListSoapIn" />
      <wsdl:output message="tns:BusquedaArticulosListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BusquedaArticuloListjson">
      <wsdl:input message="tns:BusquedaArticuloListjsonSoapIn" />
      <wsdl:output message="tns:BusquedaArticuloListjsonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BusquedaArticulosListOrderjson">
      <wsdl:input message="tns:BusquedaArticulosListOrderjsonSoapIn" />
      <wsdl:output message="tns:BusquedaArticulosListOrderjsonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BusquedaActividadesList">
      <wsdl:input message="tns:BusquedaActividadesListSoapIn" />
      <wsdl:output message="tns:BusquedaActividadesListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BusquedaActividadesListjson">
      <wsdl:input message="tns:BusquedaActividadesListjsonSoapIn" />
      <wsdl:output message="tns:BusquedaActividadesListjsonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerNroDeActividadesRelacionadasjson">
      <wsdl:input message="tns:ObtenerNroDeActividadesRelacionadasjsonSoapIn" />
      <wsdl:output message="tns:ObtenerNroDeActividadesRelacionadasjsonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerActividad">
      <wsdl:input message="tns:ObtenerActividadSoapIn" />
      <wsdl:output message="tns:ObtenerActividadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerActividadjson">
      <wsdl:input message="tns:ObtenerActividadjsonSoapIn" />
      <wsdl:output message="tns:ObtenerActividadjsonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BusquedaOportunidadesList">
      <wsdl:input message="tns:BusquedaOportunidadesListSoapIn" />
      <wsdl:output message="tns:BusquedaOportunidadesListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BusquedaOportunidadesListjson">
      <wsdl:input message="tns:BusquedaOportunidadesListjsonSoapIn" />
      <wsdl:output message="tns:BusquedaOportunidadesListjsonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerOportunidad">
      <wsdl:input message="tns:ObtenerOportunidadSoapIn" />
      <wsdl:output message="tns:ObtenerOportunidadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerOportunidadjson">
      <wsdl:input message="tns:ObtenerOportunidadjsonSoapIn" />
      <wsdl:output message="tns:ObtenerOportunidadjsonSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BusquedaArticulosSelectorListSAP">
      <wsdl:input message="tns:BusquedaArticulosSelectorListSAPSoapIn" />
      <wsdl:output message="tns:BusquedaArticulosSelectorListSAPSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioTomaPedidosSoap" type="tns:ServicioTomaPedidosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TryConnection">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/TryConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TryConnectionSBO">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/TryConnectionSBO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLogIn">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/ValidateLogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerVersionYServidor">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/ObtenerVersionYServidor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTipoCambio">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/ObtenerTipoCambio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerNumeroCotizacion">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/ObtenerNumeroCotizacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerNumeroOrden">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/ObtenerNumeroOrden" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaPrecios">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/ObtenerListaPrecios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerValoresSpinnerjson">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/ObtenerValoresSpinnerjson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerValoresComboBoxDtable">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/ObtenerValoresComboBoxDtable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearTablasYCampos">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/CrearTablasYCampos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverTablasYCampos">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/RemoverTablasYCampos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarOportunidadDeVenta">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/GuardarOportunidadDeVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarOportunidadDeVenta">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/ModificarOportunidadDeVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarOrdenDeVenta">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/RegistrarOrdenDeVenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarSocioDeNegocio">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/RegistrarSocioDeNegocio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarSocioDeNegociojson">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/RegistrarSocioDeNegociojson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarActividad">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/GuardarActividad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaClienteList">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/BusquedaClienteList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaClienteListjson">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/BusquedaClienteListjson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaClientejson">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/BusquedaClientejson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaArticulosList">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/BusquedaArticulosList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaArticuloListjson">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/BusquedaArticuloListjson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaArticulosListOrderjson">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/BusquedaArticulosListOrderjson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaActividadesList">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/BusquedaActividadesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaActividadesListjson">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/BusquedaActividadesListjson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerNroDeActividadesRelacionadasjson">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/ObtenerNroDeActividadesRelacionadasjson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerActividad">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/ObtenerActividad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerActividadjson">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/ObtenerActividadjson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaOportunidadesList">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/BusquedaOportunidadesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaOportunidadesListjson">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/BusquedaOportunidadesListjson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerOportunidad">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/ObtenerOportunidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerOportunidadjson">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/ObtenerOportunidadjson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaArticulosSelectorListSAP">
      <soap:operation soapAction="http://localhost/ServicioTomaPedidos/BusquedaArticulosSelectorListSAP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioTomaPedidosSoap12" type="tns:ServicioTomaPedidosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TryConnection">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/TryConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TryConnectionSBO">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/TryConnectionSBO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateLogIn">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/ValidateLogIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerVersionYServidor">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/ObtenerVersionYServidor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTipoCambio">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/ObtenerTipoCambio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerNumeroCotizacion">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/ObtenerNumeroCotizacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerNumeroOrden">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/ObtenerNumeroOrden" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerListaPrecios">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/ObtenerListaPrecios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerValoresSpinnerjson">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/ObtenerValoresSpinnerjson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerValoresComboBoxDtable">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/ObtenerValoresComboBoxDtable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearTablasYCampos">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/CrearTablasYCampos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoverTablasYCampos">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/RemoverTablasYCampos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarOportunidadDeVenta">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/GuardarOportunidadDeVenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarOportunidadDeVenta">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/ModificarOportunidadDeVenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarOrdenDeVenta">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/RegistrarOrdenDeVenta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarSocioDeNegocio">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/RegistrarSocioDeNegocio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarSocioDeNegociojson">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/RegistrarSocioDeNegociojson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarActividad">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/GuardarActividad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaClienteList">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/BusquedaClienteList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaClienteListjson">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/BusquedaClienteListjson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaClientejson">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/BusquedaClientejson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaArticulosList">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/BusquedaArticulosList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaArticuloListjson">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/BusquedaArticuloListjson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaArticulosListOrderjson">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/BusquedaArticulosListOrderjson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaActividadesList">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/BusquedaActividadesList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaActividadesListjson">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/BusquedaActividadesListjson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerNroDeActividadesRelacionadasjson">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/ObtenerNroDeActividadesRelacionadasjson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerActividad">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/ObtenerActividad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerActividadjson">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/ObtenerActividadjson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaOportunidadesList">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/BusquedaOportunidadesList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaOportunidadesListjson">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/BusquedaOportunidadesListjson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerOportunidad">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/ObtenerOportunidad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerOportunidadjson">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/ObtenerOportunidadjson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaArticulosSelectorListSAP">
      <soap12:operation soapAction="http://localhost/ServicioTomaPedidos/BusquedaArticulosSelectorListSAP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioTomaPedidos">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Servicio Web Toma-pedidos</wsdl:documentation>
    <wsdl:port name="ServicioTomaPedidosSoap" binding="tns:ServicioTomaPedidosSoap">
      <soap:address location="http://localhost:49934/ServicioTomaPedidos.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioTomaPedidosSoap12" binding="tns:ServicioTomaPedidosSoap12">
      <soap12:address location="http://localhost:49934/ServicioTomaPedidos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>